{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block actions %}
{% endblock %}

{% block title %}
	{% bootstrap_icon 'cutlery' %} Gestão registro refeição
{% endblock %}

{% block content %}

<script>
  function conectar_llm(){
      $("#btnConectar").html('Aguarde...').attr('disabled', true);
      $("#formRegistroRefeicao").submit();
  }
</script>


<form id="formRegistroRefeicao" class="form" role="form" method="POST">
  {% csrf_token %}
  
  {% for error in form.non_field_errors %}
    {% bootstrap_alert error 'danger' %}
  {% endfor %}
    
  {% bootstrap_form form %}
    
  {% comment %} {% buttons submit='Gravar' %}
      <a href="javascript:history.go(-1);" class="btn btn-warning" role="button">Voltar</a>
  {% endbuttons %}   {% endcomment %}

  <button id="btnConectar" type="button" class="btn btn-default" onclick="conectar_llm();">Gravar</button>
  <a href="javascript:history.go(-1);" class="btn btn-warning" role="button">Voltar</a>
</form>
{% endblock %}