{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block actions %}
{% endblock %}

{% block title %}
	{% bootstrap_icon 'cutlery' %} Gestão registro refeição
{% endblock %}

{% block content %}

<script>
    function conectar_llm(){
        $("#btnConectar").html('Aguarde...').attr('disabled', true);
        $("#formRegistroRefeicao").submit();
    }

    let reconhecendo = false;
    let reconhecedor;

    function startDictation() {
        if (reconhecendo) {
            reconhecedor.stop();
            return;
        }
      
        reconhecedor = new webkitSpeechRecognition(); // Para Chrome
        reconhecedor.lang = "pt-BR";  // Definir o idioma para português do Brasil
        reconhecedor.continuous = true;  // Continuar gravando até o usuário parar
        reconhecedor.interimResults = true;  // Resultados parciais enquanto a voz é reconhecida

        reconhecedor.onstart = function () {
            reconhecendo = true;
            document.getElementById("dictationBtn").innerHTML = "Parar de gravar";
        };

        reconhecedor.onend = function () {
            reconhecendo = false;
            document.getElementById("dictationBtn").innerHTML = "Iniciar gravação";
        };

        reconhecedor.onresult = function (event) {
            let transcript = "";
            for (let i = event.resultIndex; i < event.results.length; i++) {
                transcript += event.results[i][0].transcript;
            }
            document.getElementById("id_registro_alimentacao").value = transcript;
            console.log("Transcrição atual: ", transcript);
        };

        reconhecedor.start();
    }
</script>


<form id="formRegistroRefeicao" class="form" role="form" method="POST">
  {% csrf_token %}
  
  {% for error in form.non_field_errors %}
    {% bootstrap_alert error 'danger' %}
  {% endfor %}
    
  <!-- {% bootstrap_form form %} -->
  {% bootstrap_field form.cliente %}
  {% bootstrap_field form.glicemia_vigente %}
  {% bootstrap_field form.registro_alimentacao id='id_registro_alimentacao' %}

  <!-- Botão para iniciar a gravação de voz -->
  <button type="button" id="dictationBtn" class="btn btn-info" onclick="startDictation()">Iniciar gravação</button>
  <hr>
  
  <button id="btnConectar" type="button" class="btn btn-default" onclick="conectar_llm();">Gravar</button>
  <a href="javascript:history.go(-1);" class="btn btn-warning" role="button">Voltar</a>
</form>
{% endblock %}