{% extends "mail_templated/base.tpl" %}
{% load bootstrap3 %}

{% block subject %}
    SOMDiabetes: inscrição realizada!!
{% endblock %}

{% block html %}
    <p>Olá <strong>{{ inscricao.cliente.nome }}</strong>!!<br><br>

        Sua inscrição foi realizada com sucesso no evento: {{ inscricao.evento.nome }}.<br>
        <b>Data do evento:</b> {{ inscricao.evento.data_inicio|date:"d/m/Y" }}<br>
        <b>Local do evento:</b> {{ inscricao.evento.local }}<br>
        <br>
        <b>Código da inscrição:</b> {{ inscricao.codigo_matricula }}<br>
    </p>
    <br>
    <p>***** MENSAGEM GERADA AUTOMATICAMENTE. NÃO RESPONDA. *****</p>
    <hr>
    <p><small>Desenvolvido pelo Laboratório de Práticas da Computação UFN em Parceria com ER Clinic - Direitos Reservados.</small></p>
{% endblock %}



