{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}SOMDiabetes / Login{% endblock %}

{% block content %}
  <style>
    .box-arredondado {
      border: 1px solid #ccc;
      border-radius: 16px;
      padding: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }
  </style>

  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 box-arredondado">
      <div class="text-center">
        <img src="{% static 'core/img/logoSomdiabetes.png' %}"
              class="img-fluid" style="max-width: 130px;">
      </div>  
      <br>
        <div class="account-wall">
          <form class="form-signin" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <span class="clearfix"></span>
          <p style="text-align:center;">
            <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
              {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
            </button>
          </p>
          <p style="text-align:center;">
            <a class="btn btn-info" style="width:49%;" href="{% url 'usuario_register' %}">{% bootstrap_icon 'glyphicon glyphicon-user' %} Criar conta</a>
            <a class="btn btn-warning" style="width:49%;" href="{% url 'password_reset' %}">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
          </p>
          <br>
          <div class="text-center">
            <hr>
              <a href="https://www.dmpasa.com.br" target="_blank"><img src="{% static 'core/img/dmpasa-1.png' %}"
                style="width: 70px;"></a>

              <a href="http://erclinic.com.br/" target="_blank"><img src="{% static 'core/img/logoERClinic.png' %}"
                style="width: 45px;"></a>

              <a href="https://lapinf.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logo_lapinf_hor.png' %}"
              style="width: 120px;"></a>
          </div>
          <br>
          </form>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 box-arredondado">
      <h3>Sistema Online de Monitoramento da Diabetes</h3>
      
      <p align="justify">
        Desenvolvido com a colaboração de estudantes dos cursos da área da Computação da UFN e do <a href='https://www.lapinf.ufn.edu.br' target='__blank'>Laboratório de Práticas UFN</a>, em parceria com a <a href='https://www.dmpasa.com.br' target='blank'>DMPasa Tecnologia</a> e a <a href='http://erclinic.com.br/' target='blank'>ER Clinic</a>. A plataforma SOMDiabetes foi desenvolvida com o propósito de apoiar pacientes e profissionais da Saúde na gestão da diabetes. Trata-se de um projeto extensionista dos cursos de Computação e Nutrição da Universidade Franciscana (UFN), que também se configura como um importante instrumento de conscientização sobre os cuidados necessários no manejo da doença.
      </p>
      <br>
      <p align="justify">
          A ER Clinic é uma empresa de desenvolvimento de software fundada em 2010, especializada em soluções tecnológicas para clínicas e consultórios médicos. A empresa oferece sistemas integrados que otimizam a gestão administrativa, financeira e clínica, promovendo eficiência operacional e aprimorando a qualidade do atendimento ao paciente. Seu diferencial está na abordagem centrada no cliente, adaptando cada solução às necessidades específicas de cada estabelecimento de saúde.
          <br><br>

        Fundada em 2012, a DMPasa Tecnologia é uma empresa especializada em soluções corporativas voltadas à infraestrutura de informação, segurança digital e gestão inteligente de dados. Ao longo de sua trajetória, consolidou-se como parceira estratégica de organizações que demandam ambientes tecnológicos robustos, confiáveis e alinhados às melhores práticas do setor.
          <br><br>

        Ambas as empresas colaboram com o Laboratório de Práticas, oferecendo suporte técnico e expertise para qualificar a formação dos estudantes. Além disso, são organizações fundadas por egressos da UFN, o que fortalece ainda mais os vínculos institucionais e reforça o compromisso conjunto com a inovação e o desenvolvimento regional.
      </p>
      
      {% comment %} <hr>
      <h4>Avisos</h4>
      <iframe style="border:0px; width:100%;" src="{% url 'aviso_list_iframe' %}"></iframe> {% endcomment %}
      
    </div> 
  </div>
  
  <div align="center">
    <hr>
    <p>Todos os direitos reservados | Registro INPI: ??? | Desde 2025.</p>
</div>
{% endblock %}
