{% extends 'appaluno/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
	{% bootstrap_icon 'question-sign' %} Sobre
{% endblock %}


{% block content %}
	<center>
	<!-- <img src="{% static 'core/img/logoLasimon.png' %}"
         class="img-responsive"> -->
    </center>

	<h3>Projeto do Laboratório de Práticas (Ciência da Computação, Jogos Digitais e Sistemas de Informação)</h3>
	<h4>Edital PROBIT UFN 2020-2021 - Registro no INPI: BR512021000906-1 - Expedido em: 11/05/2021</h4>
	<h4>Versão:</h4>
	<ul>
		<li>1.0 de Agosto de 2020</li>	
		<li>1.1 de Dezembro de 2020</li>
		<li>1.2 de Março de 2021</li>	
		<li>2.0 de Maio de 2021</li>	
	</ul>
	<h4>Apoio:</h4>
	<ul>
		<li>Universidade Franciscana</li>
	</ul>
	<h4>
		Colaboradores:
	</h4>
	<ul> 
		<li><strong>UFN</strong></li>
			<ul>
				<li>Professores:</li>
				<ul>
					<li>Alexandre Zamberlan - Responsável pelo Projeto</li>
					<li>Ana Paula Canal</li>
					<li>Ricardo Frohlich da Silva</li>
					<li>Sylvio Garcia Vieira - Coordenador Laboratório de Práticas</li>
				</ul>
				<li>Alunos:</li>
				<ul>
					<li>Eduardo Palharini - Sistemas de Informação</li>
				</ul>
				<li>Coordenadores de curso:</li>
				<ul>
					<li>Ciência da Computação - Reiner Franthesco Perozzo</li>
					<li>Jogos Digitais - Ricardo Frohlich da Silva</li>
					<li>Sistemas de Informação - Guilherme Chagas Kurtz</li>
				</ul>
			</ul>
		
	</ul>
	<h4>
		Consultoria:
	</h4>
		<ul> 
			<li><a href="http://site.ersistemas.info/" target="_blank"> Empresa ER Sistemas</a> - Robertson Ebling dos Santos (egresso do curso de Sistemas de Informação)</li>
		</ul>
	
{% endblock %}