{% extends 'cliente/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
      <img src="{% static 'core/img/logoUFN_hor.jpg' %}"
      class="img-responsive" style="max-width: 200px;">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
      <center>
            <img src="{% static 'core/img/logoSOMDIABETES.jpeg' %}"
                   class="img-responsive" style="max-width: 340px;">
            
            <!-- <img src="{% static 'core/img/logoTFGOnline.png' %}"
                   class="img-responsive" style="max-width: 200px;"> -->
            

            <h2>Estimado Cliente</h2>
            <h3>Aqui, você poderá gerenciar seus exercícios físicos, alimentação, medicação, dados de glicemia e insulina</h3>
	</center>
{% endif %}

{% endblock %}