{% extends 'appmembro/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'check' %} Autenticar Atestado
{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-body">
		<form class="form">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					{% bootstrap_field form.pesquisa  %}
				</div>	
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<br>
					<button type="submit" class="btn btn-success btn-md"  style="width: 100%;">{% bootstrap_icon 'search' %} Validar</button>
				</div>					
			</div>
		</form>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
	  		<thead>
				<th>Atividade ou Evento</th>				
				<th class="text-center">Baixar Atestado</th>
	  		</thead>
	  		<tbody>
	  			{% for atestado in object_list %}
					<tr>
						<td>							
							{% if atestado.evento %}
								{{ atestado }}
							{% elif atestado.atividade %}
								{{ atestado.atividade }}
								<small>
									| Instituição: {{ atestado.instituicao }}<br>
									Início: {{ atestado.data_inicio|date:"d/m/Y" }} |
									Fim: {{ atestado.data_fim|date:"d/m/Y" }}<br>
									Responsável: {{ atestado.responsavel }} | Carga horária: {{ atestado.carga_horaria }} hora(s)
								</small>							
							{% endif %}
						</td>						
						<td class="text-center">
							{% comment %} se o atestado for uma inscrição e tiver frequencia {% endcomment %}
							{% if atestado.ja_tem_frequencia %}
								{% bootstrap_button content='' href=atestado.get_gera_atestado_ministrante_url button_type='link' icon='print' button_class='btn btn-success' size='sm' %}
								<br>
								<small class="text-success">Autenticado</small>
							{% elif atestado.evento and atestado.frequencia %}
								<span data-toggle="tooltip" title="Imprimir PDF">
									{% bootstrap_button content='' href=atestado.get_gera_atestado_url button_type='link' icon='print' button_class='btn btn-success' size='sm' %}
								</span>
								<br>
								<small class="text-success">Autenticado</small>
							{% comment %} se o atestado for uma inscrição e NAO tiver frequencia {% endcomment %}
							{% elif atestado.evento and not atestado.frequencia %}
								<a href="" class="btn btn-sm btn-warning" title="Frequência não realizada">
									{% bootstrap_icon 'print' %}
								</a>
								<br>
								<small class="text-danger">Não autenticado</small>
							{% comment %} se o atestado for um atestado manual {% endcomment %}
							{% elif atestado.responsavel %}
								<a href="{% url 'atestado_manual_pdf' slug=atestado.slug %}" class="btn btn-success btn-sm">
									{% bootstrap_icon 'print' %}
								</a>
								<br>
								<small class="text-success">Autenticado</small>
							{% endif %}
						</td>						
					</tr>
				{% empty %}
					{% if request.GET %}
					<td colspan="4" class="text-center">
						<div class="alert alert-info">
							Não há atestado para o código de verificação informado.
						</div>
					</td>
					{% endif %}
				{% endfor %}
	  		</tbody>			
		</table>
	</div>
{% endblock %}