{% extends 'appmembro/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'glass' %} Eventos abertos
{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-body">
		<form class="form">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					{% bootstrap_field form.pesquisa  %}
				</div>	
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<br>
					<button type="submit" class="btn btn-success btn-md"  style="width: 100%;">{% bootstrap_icon 'search' %} Buscar</button>
				</div>					
			</div>
		</form>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<th>Evento</th>
				<th>Local</th>
				<th>Datas importantes</th>
				<th class="text-center">Site</th>
				<th class="text-center">Inscrever-se</th>
			</thead>
			<tbody>
				{% for evento in object_list %}
					<tr>
						<td>
							{{ evento.nome }}<br>
							<small>
								{{ evento.tipo }} | {{ evento.instituicao }}. <b>Carga horária: {{ evento.carga_horaria }} h </b>
							</small>
						</td>
						<td>
							{{ evento.local }}<br>
							<small>Coordenador: {{ evento.coordenador }}</small>
						</td>
						<td>							
							<b>Data evento: </b>{{ evento.data_inicio|date:'d/m/Y' }}<br>
							<b>Hora evento: </b>{{ evento.hora_inicio|time:'H:i' }}<br>
							<b>Data inscrição: </b>{{ evento.data_inscricao|date:'d/m/Y' }}<br>
                            <b class="{% if evento.pode_registrar_frequencia %}text-success{% else %}text-danger{% endif %}">Limite registro frequência: De {{ evento.data_inicio|date:'d/m/Y' }} {{ evento.hora_inicio|date:'H:i' }} até {{ evento.data_hora_limite_registro_frequencia|date:'d/m/Y H:i' }}</b>

						</td>
						<td  class="text-center">
							{% if evento.site %}
								<a href="{{ evento.site }}" target="_blank" class="btn btn-sm btn-info">
									{% bootstrap_icon 'globe' %}
								</a>
							{% else %}
								<a href="" target="_blank" class="btn btn-sm btn-warning disabled">
									{% bootstrap_icon 'globe' %}
								</a>
							{% endif %}
						</td>		
						<td  class="text-center">
							{% if evento.pode_inscrever_se %}						
								{% bootstrap_button content='' href=evento.get_inscricao_create_url button_type='link' icon='record' button_class='btn btn-primary' size='sm' %}
							{% else %}
								<a href="" class="btn btn-sm btn-warning" title="Inscrições encerradas ou não há mais vagas">
									{% bootstrap_icon 'record' %}
								</a>
							{% endif %}
						</td>	
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<th colspan="6">
					Total de registros: {{ object_list|length }}
				</th>
			</tfoot>
		</table>
	</div>
{% endblock %}