{% extends 'appmembro/base.html' %}
{% load bootstrap3 %}

{% block actions %}
{% endblock %}

{% block title %}
{% bootstrap_icon 'plus' %} Minha inscrição
{% endblock %}

{% block content %}

<script>
  function inscrever(){
      $("#btnInscrever").html('Aguarde...').attr('disabled', true);
      $("#formInscricao").submit();
  }
</script>

<form id="formInscricao" class="form" role="form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% for error in form.non_field_errors %}
    {% bootstrap_alert error 'danger' %}
  {% endfor %}

  {% comment %} {% bootstrap_form form %} {% endcomment %}
  <br>
  <h4>
    Você está fazendo inscrição no evento: <small> {{ object.evento }} {{ evento }} </small>
  </h4>
  <br>

  <div class="hidden">
    {% bootstrap_field form.evento %}
  </div>
  <button id="btnInscrever" type="button" class="btn btn-default" onclick="inscrever();">Inscrever</button>
  <a href="javascript:history.go(-1);" class="btn btn-warning" role="button">Voltar</a>
</form>
{% endblock %}