{% extends 'appmembro/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'print' %} Minhas inscrições
{% endblock %}


{% block content %}
	<div class="table-responsive">
		<table class="table table-hover">
	  		<thead>
				<th>Evento</th>
				<th class="text-center">Atestado</th>
				<th class="text-center">Realizar frequência</th>
				<th class="text-center">Apagar inscrição</th>
	  		</thead>
	  		<tbody>
	  			{% for inscricao in object_list %}
					<tr>
						<td>
							{{ inscricao.evento }}<br>
							<b>Código inscrição:</b> {{ inscricao.codigo_matricula }}<br>
                            <b class="{% if inscricao.evento.pode_registrar_frequencia %}text-success{% else %}text-danger{% endif %}">Limite registro frequência: De {{ inscricao.evento.data_inicio|date:'d/m/Y' }} {{ inscricao.evento.hora_inicio|date:'H:i' }} até {{ inscricao.evento.data_hora_limite_registro_frequencia|date:'d/m/Y H:i' }}</b>
						</td>
						<td  class="text-center">
							{% if inscricao.frequencia %}
								<span data-toggle="tooltip" title="Visualizar prévia atestado">
									{% bootstrap_button content='' href=inscricao.get_visualiza_atestado_url button_type='link' icon='list' button_class='btn btn-success' size='sm' %}
								</span>
								<span data-toggle="tooltip" title="Imprimir PDF">
									{% bootstrap_button content='' href=inscricao.get_gera_atestado_url button_type='link' icon='print' button_class='btn btn-success' size='sm' %}
								</span>
								<br>
								Frequência em: {{ inscricao.frequencia|date:'d/m/Y H:i' }}<br>
							{% else %}
								<a href="" class="btn btn-sm btn-warning" title="Você não participou deste evento">
									{% bootstrap_icon 'print' %}
								</a>
							{% endif %}
						</td>
						<td  class="text-center">
							{% if inscricao.evento.pode_registrar_frequencia and not inscricao.frequencia %}
								{% bootstrap_button content='' href=inscricao.get_frequencia_create_url button_type='link' icon='record' button_class='btn btn-primary' size='sm' %}			
							{% else %}
								<a href="" class="btn btn-sm btn-warning" title="Aguarde liberação de frequência e código de acesso">
									{% bootstrap_icon 'record' %}
								</a>
							{% endif %}
						</td>
						<td class="text-center">
							{% if True %}
								<span data-toggle="tooltip" title="Excluir inscrição">
									{% bootstrap_button content='' href=inscricao.get_appmembro_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
								</span>
							{% else%}
								<a href="" target="_blank" class="btn btn-sm btn-warning disabled">
									{% bootstrap_icon 'trash' %}
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
	  		</tbody>
			<tfoot>
				<th colspan="4">
					Total de registros: {{ object_list|length }}
				</th>
			</tfoot>
		</table>
	</div>
{% endblock %}