{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'folder-close' %} Dados Clínicos
{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-body">
		<form class="form">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					{% bootstrap_field form.pesquisa  %}
				</div>	
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<br>
					<button type="submit" class="btn btn-success btn-md"  style="width: 100%;">{% bootstrap_icon 'search' %} Buscar</button>
				</div>			
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<br>
					<a href="{% url 'dadoclinico_create' %}" class="btn btn-md btn-primary" style="width: 100%;">{% bootstrap_icon 'record' %} Cadastrar dados clínicos</a>
				</div>			
			</div>
		</form>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-hover">
			{% comment %} fields = ['cliente', 'medicamentos', 'bolus_alimentar', 'bolus_correcao', 'altura', 'peso', 'is_active'] {% endcomment %}
			<thead>
				<th>Cliente | Paciente</th>
				<th>Dados clínicos</th>
				<th>Medicamentos</th>
				<th>Bolus</th>
				<th class="text-center">Ativo</th>
				<th class="text-center">Editar</th>
				<th class="text-center">Excluir</th>
			</thead>
			<tbody>
				{% for dado in object_list %}
					<tr>
						<td>
							{{ dado.cliente.nome }} <br>
							<small class="text-muted">Sexo: {{ dado.cliente.sexo }}</small><br>					
							<small class="text-muted">Registro: {{ dado.data_registro|date:"d/m/Y" }}</small>					
						</td>
						<td>
							<small class="text-muted">Data Nasc: {{ dado.cliente.data_nascimento|date:"d/m/Y" }}</small> <br>
							<small class="text-muted">Peso: {{ dado.peso }} kg</small> <br>
							<small class="text-muted">Altura: {{ dado.altura }} cm</small> <br>							
						</td>
						<td>
							{% for medicamento in dado.medicamentos.all %}
								<span class='text-muted'>{{ medicamento.nome_comercial }}</span>
								{% if forloop.last %}
									<span class='text-muted'>.</span>
								{% else %}
									<span class='text-muted'>,</span>
								{% endif %}
							{% empty %}
								<span class='text-muted'>Nenhum medicamento associado</span>
							{% endfor %}
						</td>
						<td>
							 {{ dado.bolus_alimentar }} U (Alimentar) <br>
							 {{ dado.bolus_correcao }} U (Correção)
						</td>
						<td class="text-center">
							{% if dado.is_active %}
								<span class="label label-success">SIM</span>
							{% else %}
								<span class="label label-danger">NÃO</span>
							{% endif %}
						</td>						
						<td class="text-center">
							{% bootstrap_button content='' href=dado.get_absolute_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
						</td>
						<td class="text-center">
							{% bootstrap_button content='' href=dado.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<th colspan="6">
					Total de registros: {{ object_list|length }}
				</th>
			</tfoot>
		</table>
	</div>
{% endblock %}