{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
      <img src="{% static 'core/img/logoUFN_hor.jpg' %}"
      class="img-responsive" style="max-width: 120px;">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
      <center>
            <h2>SOMDiabetes - Sistema Online de Monitoramento da Diabetes</h2>
            
            <!-- <img src="{% static 'core/img/logoTFGOnline.png' %}"
                   class="img-responsive" style="max-width: 200px;"> -->
            

            <h2>Profissional da Saúde, aqui você poderá gerenciar: <br>alimentos, medicações e atividades físicas</h2>
	</center>
{% endif %}

{% endblock %}