{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
      <img src="{% static 'core/img/logoUFN_hor.jpg' %}"
      class="img-responsive" style="max-width: 120px;">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
      <center>
            <h2>Sistema Online ....</h2>
            
            <!-- <img src="{% static 'core/img/logoTFGOnline.png' %}"
                   class="img-responsive" style="max-width: 200px;"> -->
            
            <h3>Sistema resultante do TFG de Robson Cezário</h3>

            <h2>Visão Administrador ou Médico ou Nutricionista </h2>
	</center>
{% endif %}

{% endblock %}